/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300');

html, body {
    height: 100%;
}

body {
    background: #8e8787;
    font-family: 'Raleway', "Helvetica Neue", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

figure {
    font-size: 0;
    margin: 0;
    padding: 0;
}

img {
    font-size: 0;
}